<!DOCTYPE html>
<html>
<head>

</head>

<body>
<h1 th:text="${view}">Page</h1>
<hr/>
Categories:
<div th:each="category: ${categories}">
    <a th:href="${'/category/' + category}" th:text="${category}">Category</a>
</div>

<hr/>
<h2 th:text="${tags}">Tags</h2>
<a href="/tags">Tags</a>
<hr/>

Items: <br/>
<div th:each="item: ${items}">
    <p th:text="${item.title}">Title</p>   <a href="/" th:href="@{'/view/'  + ${item._id}}">View</a>
    <p th:text="${item.date}">Date</p>
</div>

<hr/>

<a th:href="${backPage}">Back</a>
<a th:href="${nextPage}">Next</a>

<div th:each="page : ${pages}">
    <a th:href="${page.page}" th:text="${page.pageId}">Page X</a>
</div>

</body>

</html>